body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
}

.hidden {
    display: none;
}

.visible {
    visibility: visible;
}

.header-container {
    display: flex;
    align-items: center;
    background: #222222;
    width: 100%;
    height: 60px;
}

.dashboard-heading {
    color: #dee4e6;
    font-size: 30px;
    margin-left: 15px;
}

.main-container {
    display: flex;
    width: 100%;
    position: relative;
}

.global-cases-container {
    margin: 5px 0;
    width: 16%;
}

.global-cases {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222222;
    height: 100px;
}

.global-cases__heading {
    font-size: 18px;
    color: #dee4e6;
}

.global-cases__number {
    margin-top: 10px;
    font-size: 30px;
    color: #ec0303;
}

.countries-cases {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    background: #222222;
    height: 692px;
}

.spread-icon {
    display: none;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 15px;
    height: 15px;
}

.countries-cases:hover .spread-icon,
.global-cases:hover .spread-icon, 
.map-container:hover .spread-icon,
.statistic:hover .spread-icon,
.graphics-block:hover .spread-icon {
    cursor: pointer;
    display: block;
}

.countries-cases__heading {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: #dee4e6;
}

.countries-list {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    overflow-y: scroll;
}

.countries-list__item {
    display: flex;
    padding: 5px 0;
    border-bottom: 2px solid #575757;
}

.country-cases-number {
    color: #ec0303;
    margin-left: 10px;
}

.country-name {
    color: #dee4e6;
    margin-left: 10px;
    word-break: keep-all;
}

.statistic-container .country-name {
    display: flex;
    align-items: center;
    font-size: 22px;
    min-height: 35px;
    overflow: hidden;
    background: #292828;
    margin-left: 0;
    border-radius: 10px;
    outline: none;
}

::-webkit-scrollbar { 
    width: 10px; 
    height: 10px; 
    background: #bdbaba;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb { 
    background-color: rgb(90, 89, 89); 
    border-radius: 5px;
}

.map-container {
    position: relative;
    margin: 5px;
    width: 55%;
}

.map {
    width: 100%;
    height: 757px;
    background: #222222;
}

.legend {
    width: 16em;
    line-height: 37px;
    color: #555;
}

.legend-list {
    display: flex;
    flex-flow: row wrap;
}

.legend .i-marker {
    border-radius: 100%;
    color: red;
    background-color: yellow;
    float: left;
    margin-right: 2px;
    opacity: 0.7;
}

.icon-marker-tooltip {
    display: block;
    position: absolute;
    bottom: 100%;
    font-size: 1.4em;
    padding: 0.5em;
    color: black;
    background-color: darkgrey;
    border-radius: .4em;
    margin-bottom: 0.3em;
    box-shadow: 0 3px 5px rgba(black, .9);
}  

.icon-marker-tooltip:before {
    display: block;
    position: absolute;
    bottom: 100%;
    font-size: 1.4em;
    padding: 0.5em;
    color: red;
    border-radius: .4em;
    margin-bottom: 0.3em;
    box-shadow: 0 3px 5px rgba(black, .9);
}  

.country-name {
    font-size: 1.2em;
    color: black;
    line-height: 1.2;
    margin: 0 auto 0.1em;
}

.statistic-container {
    margin-top: 5px;
    width: 29%;
}

.statistic {
    position: relative;
    padding: 0.1px;
    width: 100%;
    height: 300px;
    background: #222222;
}

.country-description {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.country-flag {
    width: 35px;
    height: 24px;
    margin-top: 8px;
    margin-right: 10px;
}

.statistical-data {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    color: #dee4e6;
}

.stat-heading {
    font-size: 23px;
}

.all-disease-cases,
.all-recovered-cases,
.all-death-cases {
    font-size: 18px;
}

.category-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}

.disease-cases,
.recovered-cases,
.death-cases {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33.3%;

}

.last-day-disease-cases,
.last-day-recovered-cases,
.last-day-death-cases{
    margin-top: 3px;
    opacity: 0.7;
}

.statistic-type {
    font-size: 18px;
    color: #dee4e6;
    margin-left: 20px;
    margin-top: 20px;
}

.mode-switch {
    margin-top: 10px;
    background: #dee4e6;
    color: #ffffff;
    height: 15px;
    width: 15px;
    user-select: none;
}

.mode-switches-block {
    width: 100%;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
}


.mode-switch:hover {
    cursor: pointer;
}

.statistic-container .mode-switch {
    margin-left: 20px;
}

.map-container .mode-switches-block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin-top: 5px;
    background: #222222;
}

.map-container .mode-switch{
    margin-top: 0;
    margin: 0 7px;
}

.warning-text {
    visibility: hidden;
    color: #ffffff;
    margin-left: 20px;
    font-size: 12px;
}

.graphics-block {
    position: relative;
    margin-top: 5px;
    height: 492px;
    background: #222222;
}

.mode-button {
    display: flex;
    flex-wrap: nowrap;
}

.vertical-menu-label {
    margin-top: 10px;
}

.full-screen-window {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

.no-scroll {
    overflow: hidden;
}

.full-screen-window .spread-icon {
    right: 0;
    top: 0;
}


.visible {
    visibility: visible;
}

@media screen and (max-width: 1200px) {  
    .global-cases__heading {
        font-size: 16px;
    }
    
    .global-cases__number {
        font-size: 22px;
    }  

    .stat-heading {
        font-size: 18px;
    }

    .countries-cases__heading {
        font-size: 10px;
    }
    
    .countries-list {
        font-size: 13px;
    }

    .mode-switches-block {
        font-size: 14px;
    }

    .all-disease-cases,
    .all-recovered-cases,
    .all-death-cases {
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {  

    .stat-heading {
        font-size: 13px;
    }

    .all-disease-cases,
    .all-recovered-cases,
    .all-death-cases {
        font-size: 11px;
    }

    .statistic-container .mode-switch {
        margin-left: 10px;
    }

    .mode-switches-block {
        font-size: 12px;
    }

    .country-description {
        margin-left: 10px;
    }

    .statistical-data {
        margin-left: 10px;
        width: 80%;
    }

    .warning-text {
        color: #ffffff;
        margin-left: 10px;
        font-size: 12px;
    }
}

@media screen and (max-width: 900px) {  

    .countries-cases__heading {
        font-size: 8px;
    }
    
    .countries-list {
        font-size: 10px;
    }
}

@media screen and (max-width: 800px) {  

    .stat-heading {
        font-size: 11px;
    }

    .all-disease-cases,
    .all-recovered-cases,
    .all-death-cases {
        font-size: 9px;
    }

    .statistic-container .mode-switch {
        margin-left: 10px;
    }

    .mode-switches-block {
        font-size: 12px;
    }

    .country-description {
        margin-left: 10px;
    }

    .statistical-data {
        margin-left: 10px;
        width: 80%;
    }

    .global-cases__heading {
        font-size: 12px;
    }
    
    .global-cases__number {
        font-size: 14px;
    } 
    
    .map-container .mode-switches-block{
        flex-wrap: wrap;
        height: 35px;
    }
}

@media screen and (max-width: 650px) {  
    .mode-switches-block {
        font-size: 10px;
    }

    .stat-heading {
        font-size: 9px;
    }

    .all-disease-cases,
    .all-recovered-cases,
    .all-death-cases {
        font-size: 9px;
    }
}