@mixin flex-template ($direction, $pos, $al) {
  display: flex;
  flex-flow: $direction nowrap;
  justify-content: $pos;
  align-items: $al;
}

$color-light: #FFFFFF;
$color-dark-menu: #CDCDCD;
$color-light-menu: #FAFAFA;
$color-light-l: #F6F6F6;
$color-primary: #FFEB3B;
$color-primary-light: #FDDCC4;
$color-dark: #FF9800; 
$color-fun-pink: #EC407A;
$color-dark-l: #545454;
$color-dark-xl: #455A64; 

body {
  max-height: 100vh;
  width: 100vw;
  max-width: 100%;
  padding: 50px;
  box-sizing: border-box;
  margin: 0;
  color: $color-dark-xl;
  font-size: 24px;
  //background-image: url('../assets/img/bckgr-main.jpg');
  background-size: cover;
}
.countries-list li{
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px #CDCDCD;
  padding: 5px 0;
  padding-left: 3px;
  img {
    width: 26px;
    height: 16px;
    margin-right: 5px;
  }
  span:nth-child(2){
    color: #ff0000;
    font-size: 12px;
  }
  span:last-child{
    color: #ffffff;
    margin-left: 5px;
    font-size: 12px;
  }
  .full-screen-window &{
    font-size: 22px;
  }
}

::-webkit-scrollbar {
  background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb{
  border-radius: 0;
}
.main-container .full-screen-window {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 10;
}
.main-container{
  & .full-screen-window{
    font-size: 22px;
  }
}
.graphics-block canvas{
  width: 100%;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
}
.panel-controll {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.panel-right-btn, .panel-left-btn {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.panel-right-btn{
  background: linear-gradient(45deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,  #808080 50%);
  transform: rotate(45deg);
}
.panel-left-btn {
  background: linear-gradient(45deg,#808080 0%, #808080 50%,  rgba(255,255,255,0) 50%);
  transform: rotate(45deg);
}
.search-input{
    width: 90%;
    background-color: #222;
    border-radius: 9px;
    height: 30px;
    margin: 2px;
    padding-left: 5px;
    font-size: 16px;
}