body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
    background-color: #222;
}

.content {
    min-height: 766px;
}

.hidden {
    display: none;
}

.visible {
    visibility: visible;
}

.header-container {
    display: flex;
    align-items: center;
    background: #4e4e4e;
    width: 100%;
    height: 6vh;
    min-height: 40px;
}

.dashboard-heading {
    color: #dee4e6;
    font-size: 30px;
    margin-left: 15px;
}

.main-container {
    display: flex;
    width: 100%;
    position: relative;
    height: 88vh;
    min-height: 675px;
}

.global-cases-container {
    margin-top: 5px;
    width: 16vw;
    min-height: 559px;
    min-width: 140px;
}

.global-cases {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222222;
    min-height: 45px;
    height: 7%;
}

.global-cases__heading {
    font-size: 18px;
    color: #dee4e6;
}

.global-cases__number {
    margin-top: 7px;
    font-size: 28px;
    color: #ec0303;
}

.countries-cases {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    background: #222222;
    height: 92.3%;
}

.spread-icon {
    display: none;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 15px;
    height: 15px;
    z-index: 10;
}

.countries-cases:hover .spread-icon,
.global-cases:hover .spread-icon, 
.map-container:hover .spread-icon,
.statistic:hover .spread-icon,
.graphics-block:hover .spread-icon {
    cursor: pointer;
    display: block;
}

.countries-cases__heading {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: #dee4e6;
}

.countries-list {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    overflow-y: scroll;
}

.countries-list__item {
    display: flex;
    padding: 5px 0;
    border-bottom: 2px solid #575757;
}

.country-cases-number {
    color: #ec0303;
    margin-left: 10px;
}

.country-name {
    color: #dee4e6;
    margin-left: 10px;
    word-break: keep-all;
}

.statistic-container .country-name {
    display: flex;
    align-items: center;
    font-size: 22px;
    min-height: 35px;
    width: 65%;
    overflow: hidden;
    background: #292828;
    color: #ffffff;
    margin-left: 0;
    border-radius: 10px;
    outline: none;
}

::-webkit-scrollbar { 
    width: 10px; 
    height: 10px; 
    background: #bdbaba;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb { 
    background-color: rgb(90, 89, 89); 
    border-radius: 5px;
}

.map-container {
    position: relative;
    margin: 5px 5px 0 5px;
    width: 55vw;
    min-height: 570px;
    z-index: 5;
}

.map {
    width: 100%;
    height: 100%;
    background: #222222;
}

.legend {
    width: 16em;
    line-height: 37px;
    color: #555;
}

.legend-list {
    display: flex;
    flex-flow: row wrap;
}

.legend .i-marker {
    border-radius: 100%;
    color: red;
    background-color: yellow;
    float: left;
    margin-right: 2px;
    opacity: 0.7;
}

.icon-marker-tooltip {
    display: block;
    position: absolute;
    bottom: 100%;
    font-size: 1.4em;
    padding: 0.5em;
    color: black;
    background-color: darkgrey;
    border-radius: .4em;
    margin-bottom: 0.3em;
    box-shadow: 0 3px 5px rgba(black, .9);
}  

.icon-marker-tooltip:before {
    display: block;
    position: absolute;
    bottom: 100%;
    font-size: 1.4em;
    padding: 0.5em;
    color: red;
    border-radius: .4em;
    margin-bottom: 0.3em;
    box-shadow: 0 3px 5px rgba(black, .9);
}  

.country-name {
    font-size: 1.2em;
    color: black;
    line-height: 1.2;
    margin: 0 auto 0.1em;
}

.statistic-container {
    margin-top: 5px;
    width: 29%;
    min-height: 665px;
}

.statistic {
    display: flex;
    position: relative;
    padding: 0.1px;
    width: 100%;
    height: 49.5%;
    min-height: 330px;
    background: #222222;
}

.statistic-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    min-height: 220px;
    margin-left: 20px;
    margin-top: 30px;
}

.country-description {
    display: flex;
}

.country-flag {
    width: 35px;
    height: 24px;
    margin-right: 10px;
    margin-top: 10px;
}

.statistical-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 180px;
    min-height: 150px;
    margin-top: 10px;
    color: #dee4e6;
}

.stat-heading {
    font-size: 20px;
}

.all-disease-cases,
.all-recovered-cases,
.all-death-cases {
    font-size: 16px;
}

.category-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.disease-cases,
.recovered-cases,
.death-cases {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

}

.last-day-disease-cases,
.last-day-recovered-cases,
.last-day-death-cases{
    margin-top: 3px;
    opacity: 0.7;
}

.statistic-type {
    font-size: 18px;
    color: #dee4e6;

}

.mode-switch {
    margin-top: 10px;
    background: #dee4e6;
    color: #ffffff;
    height: 15px;
    width: 15px;
    user-select: none;
}

.mode-switches-block {
    width: 100%;
    color: #ffffff;
    font-size: 16px;
}

.statistic .mode-switches-block {
    margin-left: -5px;
    margin-top: 10px;
}


.mode-switch:hover {
    cursor: pointer;
}

.map-container .mode-switches-block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin-top: 5px;
    background: #222222;
}

.map-container .mode-switch{
    margin-top: 0;
    margin: 0 7px;
}

.warning-text {
    visibility: hidden;
    color: #ffffff;
    font-size: 12px;
}

.graphics-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 5px;
    height: 50%;
    min-height: 330px;
    background: #222222;
}

.mode-button {
    display: flex;
    flex-wrap: nowrap;
}

.vertical-menu-label {
    margin-top: 10px;
}

.full-screen-window {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .full-screen-window .statistic-content {
    height: 45px;
    min-height: 165px;
  }

  .full-screen-window .statistical-data {
    justify-content: flex-start;
    flex-direction: row;
    height: 45px;
    min-height: 45px;
  }

  .full-screen-window .leaflet-container {
      margin-left: -5px;
  }

.no-scroll {
    overflow: hidden;
}

.full-screen-window .spread-icon {
    right: 0;
    top: 0;
    z-index: 200;
}


.visible {
    visibility: visible;
}

.countries-list li {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px #CDCDCD;
  padding: 5px 0;
  padding-left: 3px;
}

.countries-list li:hover {
    cursor: pointer;
    background: #444343;
}

.countries-list li img {
  width: 26px;
  height: 16px;
  margin-right: 5px;
}

.countries-list li span:nth-child(2) {
  color: #ff0000;
  font-size: 12px;
}

.countries-list li span:last-child {
  color: #ffffff;
  margin-left: 5px;
  font-size: 12px;
}

.full-screen-window .countries-list li {
  font-size: 22px;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.main-container .full-screen-window {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 10;
}

.main-container .full-screen-window {
  font-size: 22px;
}

.graphics-block canvas {
  width: 100%;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
}

.panel-controll {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.panel-right-btn, .panel-left-btn {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.panel-right-btn {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #808080 50%);
  transform: rotate(45deg);
}

.panel-left-btn {
  background: linear-gradient(45deg, #808080 0%, #808080 50%, rgba(255, 255, 255, 0) 50%);
  transform: rotate(45deg);
}

.search-input {
  width: 90%;
  background-color: #222;
  color: #ffffff;
  border-radius: 9px;
  height: 30px;
  margin: 2px;
  padding-left: 5px;
  font-size: 16px;
}

.leaflet-container {
    z-index: 2;
    height: 100%;
    min-height: 570px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    background: #222222;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 490px;
    height: 100%;
}
  
.footer-content-text {
    color: #FFFFFF;
    font-size: 14px;
}

.github-link {
text-decoration: none;
color: #ffffff;
padding-bottom: 1px;
}

.github-link:hover {
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
}

.footer-logo {
    width: 60px;
}

.display-panel {
    color: #ffffff;
}

@media screen and (max-width: 1200px) {  
    .global-cases__heading {
        font-size: 16px;
    }
    
    .global-cases__number {
        font-size: 22px;
    }  

    .countries-cases__heading {
        font-size: 10px;
    }
    
    .countries-list {
        font-size: 13px;
    }

    .mode-switches-block {
        font-size: 14px;
    }
    
    .countries-cases__heading {
        font-size: 10px;
    }
    
    .countries-list {
        font-size: 13px;
    }

    .mode-switches-block {
        font-size: 14px;
    }

    .all-disease-cases,
    .all-recovered-cases,
    .all-death-cases {
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {  
    .stat-heading {
        font-size: 16px;
    }

    .countries-cases__heading {
        font-size: 10px;
    }
    
    .countries-list {
        font-size: 13px;
    }

    .vertical-menu-label {
        font-size: 10px;
    }

    .mode-switch {
        width: 12px;
        height: 12px;
    }

    .all-disease-cases,
    .all-recovered-cases,
    .all-death-cases {
        font-size: 12px;
    }

    .statistic-container .country-name {
        width: 55%
    }
}

@media screen and (max-height: 850px) {
    .global-cases__heading {
        font-size: 14px;
    }

    .global-cases__number {
        margin-top: 3px;
        font-size: 23px;
    }
    
    .category-data {
        margin-top: 3px;
    }
    .all-disease-cases,
    .all-recovered-cases,
    .all-death-cases {
        font-size: 14px;
        width: 100%;
    }

    .vertical-menu-label {
        font-size: 10px;
    }
}
